<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.nic.datovka"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MessageDetailActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".activities.AccountActivity"
            android:label="@string/title_activity_main" >
        </activity>

        <provider
            android:name=".contentProviders.MsgBoxContentProvider"
            android:authorities="cz.nic.datovka.contentproviders.msgboxcontentprovider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".contentProviders.ReceivedMessagesContentProvider"
            android:authorities="cz.nic.datovka.contentproviders.receivedmessagescontentprovider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".contentProviders.SentMessagesContentProvider"
            android:authorities="cz.nic.datovka.contentproviders.sentmessagescontentprovider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".contentProviders.RecvAttachmentsContentProvider"
            android:authorities="cz.nic.datovka.contentproviders.recvattachments"
            android:exported="false" >
        </provider>
        <provider
            android:name=".contentProviders.SentAttachmentsContentProvider"
            android:authorities="cz.nic.datovka.contentproviders.sentattachments"
            android:exported="false" >
        </provider>

        <service android:name=".services.MessageDownloadService" >
        </service> 
        <service android:name=".services.AddAccountService" >
        </service>
    </application>

</manifest>